<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/grave"></ion-back-button>
    </ion-buttons>
    <ion-title>{{grave?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="grave-detail">
  <div text-center *ngIf="grave">
         
    
    <ion-card>

        <ion-slides pager="true" [options]="slideOpts">
        
            <ion-slide *ngFor="let pic of grave.picsAttached.slice().reverse() ">
               <img [src]="pic" alt="grave pic">
             </ion-slide>     

          </ion-slides>
  
           <ion-row justify-content-center  style="height:100%">
              <ion-button (click)="getCamera($event)">
                  <ion-icon  name="camera"></ion-icon>
                </ion-button>
          </ion-row>

          

        <ion-card-header>
          <ion-card-title><h1>{{grave?.name}}</h1></ion-card-title>
          

          <ion-card-subtitle>
              Abteilung: {{grave.abteilung}}  Reihe: {{grave.reihe}} Dtelle: {{grave.stelle}} 
          </ion-card-subtitle>
          
        </ion-card-header>
      
        <ion-card-content>
            <ion-list>
                <ion-item>
                  <ion-label>Grabmangel</ion-label>
                  <ion-select placeholder="Select One">
                    <ion-select-option value="d1">Defect-1</ion-select-option>
                    <ion-select-option value="d2">Defect-2</ion-select-option>
                    <ion-select-option value="d3">Defect-3</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>Pflegemangel</ion-label>
                    <ion-select placeholder="Select One">
                        <ion-select-option value="d1">Plangting-1</ion-select-option>
                        <ion-select-option value="d2">Plangting-2</ion-select-option>
                        <ion-select-option value="d3">Plangting-3</ion-select-option>
                    </ion-select>
                  </ion-item>
                  
                  <ion-item>
                      <ion-textarea placeholder="Memo" #myInput id="myInput" rows="8" maxLength="500" ></ion-textarea>
                  </ion-item>
              </ion-list>

        </ion-card-content>
      </ion-card>

    

  </div>

  <p>{{grave?.about}}</p>
</ion-content>
