<ion-app>
  <ion-split-pane>

    <ion-menu>
  
      <ion-content>

        <ion-list>
      
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          
            <ion-item [routerLink]="p.url">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

        <ion-list >
          <ion-list-header>
            Account
          </ion-list-header>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/account">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                Account
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>


      </ion-content>
    </ion-menu>

    <ion-router-outlet main ></ion-router-outlet>

  </ion-split-pane>

</ion-app>
