<ion-header>  
  
  <ion-toolbar>
      
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>        
      </ion-buttons>
      <ion-title>Grabsuche</ion-title>
      
      <ion-buttons slot="end">
          <ion-button (click)="hideShowFilter()">
              <ion-icon slot="icon-only" name="flash"></ion-icon>
            </ion-button>
      </ion-buttons>
    
  </ion-toolbar>
  <ion-searchbar  (keyup)="searchForGrave($event)"  (keypress)="searchForGrave($event)"  placeholder="Search for grave"></ion-searchbar>

  <ion-list *ngIf="hideFilter">
    <ion-item>
      <ion-label>Abteilung</ion-label>
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="popover" placeholder="Select One" [(ngModel)]="filter.abteilung" (ionChange)="filterGo($event)">
        <ion-select-option value="">None</ion-select-option>
        <ion-select-option  value="{{val}}" *ngFor="let val of facet.abteilung">{{val}}</ion-select-option>
        
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Reihe</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="popover" placeholder="Select One" [(ngModel)]="filter.reihe"  (ionChange)="filterGo($event)">
          <ion-select-option value="">None</ion-select-option>  
          <ion-select-option  value="{{val}}" *ngFor="let val of facet.reihe">{{val}}</ion-select-option>

        </ion-select>
      </ion-item>
      

      <ion-item>
        <ion-label>Stelle</ion-label>
        <ion-select [interfaceOptions]="customActionSheetOptions" interface="popover" placeholder="Select One"  [(ngModel)]="filter.stelle" (ionChange)="filterGo($event)">
          <ion-select-option value="">None</ion-select-option>  
          <ion-select-option  value="{{val}}" *ngFor="let val of facet.stelle">{{val}}</ion-select-option>

        </ion-select>
      </ion-item>


  </ion-list>


</ion-header>

<ion-content class="outer-content">
  <ion-list>

              
              <ion-item routerLink="/app/tabs/grave/grave-details/{{grave.id}}"  *ngFor="let grave of grave">
              

                    <ion-avatar slot="start">
                        <img [src]="grave.profilePic" alt="grave pic">
                    </ion-avatar>

                    <ion-card>
                       <ion-label>                   
                           <h2>Grabname: {{grave.name}}</h2>
                      </ion-label>

                      <ion-label>                   
                        Abteilung: {{grave.abteilung}}
                      </ion-label>
                  
                      <ion-label>                   
                       Reihe: {{grave.reihe}}
                     </ion-label>                            
                    
                      <ion-label>                   
                        Stelle: {{grave.stelle}}
                      </ion-label>    
                      
                      <ion-label>                   
                          Grabart: {{grave.grabart}}
                      </ion-label>    
                  </ion-card>
                </ion-item>

     
  </ion-list>
</ion-content>
