.scroll {
  background: #ededed;
}

.grave-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.grave-card ion-card-header {
  padding: 0;
}

.grave-card ion-card-header .item {
  padding: 4px 16px;
}

.grave-card ion-card-content {
  flex: 1 1 auto;

  padding: 0;
}


ion-card{
  border:none !important;
  box-shadow: none !important;
  margin-left: 2em;
}
ion-avatar img  {
  width: 60px !important;
  height : 60px !important;
  max-width: 80px !important;  //any size
  max-height: 80px !important; //any size
  margin:5px;
  }